
.nice-select {
  -webkit-tap-highlight-color: transparent;
  padding: 20px 40px 20px 20px;
  border-color: transparent;
  transition: all .3s ease;
  font-size: 16px;
  margin-bottom: 30px;
  border-radius: 50px;
  position: relative;
  background-color: #dbe3ec;
  color: #ccc; }
  .nice-select:focus {
    background-color: #fff;
    box-shadow: 17px 0 60px #d3dcdc; }
  .nice-select.focus-white:focus {
    background-color: #fff;
    -webkit-box-shadow: 25px 20px 20px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 25px 20px 20px -15px rgba(0, 0, 0, 0.3); }
  .nice-select:after {
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    content: '';
    display: block;
    height: 10px;
    margin-top: -6px;
    pointer-events: none;
    position: absolute;
    right: 30px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 10px; }
  .nice-select.open:after {
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0); }
  .nice-select .list {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #dbe3ec;
    box-shadow: 25px 20px 20px -15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-40px/2);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
    margin-left: 0; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 38px;
    list-style: none;
    min-height: 38px;
    outline: none;
    padding-left: 40px;
    padding-right: 60px;
    text-align: center;
    transition: all 0.2s;
    margin: 0;
    font-size: 16px; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #dbe3ec; }
    .nice-select .option:hover {
      color: #0083ff; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      cursor: default; }
      .nice-select .option.disabled:hover {
        color: #4b5d73; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }

/*------------- #FORMS --------------*/
/*input, textarea, select, .nice-select {
  padding: 13px 40px;
  border: 1px solid transparent;
  transition: all .3s ease;
  font-size: 16px;
  color: #273f5b;
  margin-bottom: 20px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(18, 25, 33, 0.15);
  width: 100%;
  outline: none; }
  input:focus, textarea:focus, select:focus, .nice-select:focus {
    -webkit-box-shadow: 5px 0 40px 0 rgba(0, 88, 171, 0.25);
    box-shadow: 5px 0 40px 0 rgba(0, 88, 171, 0.25);
    color: #0083ff; }

::-webkit-input-placeholder {
  color: #839dbc; }

::-moz-placeholder {
  color: #839dbc; }

:-moz-placeholder {
  color: #839dbc; }
:-ms-input-placeholder {
  color: #839dbc; }

textarea {
 
  border-radius: 30px; }*/



/*------------- #Slider Faqs --------------*/
.slider-faqs-thumb {
  position: relative;
  text-align: center;
  background-image: url("../img/faqs-cloud.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .slider-faqs-thumb .utouch-icon {
    height: 240px;
    width: 240px; }

.slider-faqs-title {
  text-transform: uppercase;
  margin-bottom: 35px;
  letter-spacing: .2em; 
    font-size: 26px;}
.slider-faq-p{
  font-size: 20px;
}
.slider-slides {
  margin-bottom: 75px;
  z-index: 999;
  padding: 10px 0; }

.slides-item {
  display: inline-block;
  position: relative;
  margin-right: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  background-color: darkorange;
  opacity: .3;
  transition: all .3s ease;
  border-radius: 100%;
  cursor: pointer; }
  .slides-item.slide-active {
    opacity: 1;
    box-shadow: 10px 0 10px 0 rgba(255, 141, 0, 0.2);}
  .slides-item:last-child {
    margin-right: 0; }

.with-thumbs {
  text-align: center;
  margin: 40px 0; }
  .with-thumbs .slides-item {
    margin-right: 10px;
    line-height: 1;
    overflow: hidden;
    background-color: transparent; }

.slider-slides--vertical-line .slides-item {
  opacity: 1;
  background-color: transparent;
  font-size: 18px;
  color: #849dbd; }
  .slider-slides--vertical-line .slides-item:first-child {
    margin-left: 40px; }
  .slider-slides--vertical-line .slides-item.slide-active {
    box-shadow: none;
    top: 20px; }
    .slider-slides--vertical-line .slides-item.slide-active .round:before {
      opacity: 1;
      height: 60px; }
    .slider-slides--vertical-line .slides-item.slide-active .round.primary {
      background-color: #0083ff; }
    .slider-slides--vertical-line .slides-item.slide-active .round.orange {
      background-color: #F89101; }
    .slider-slides--vertical-line .slides-item.slide-active .round.red {
      background-color: #ff3133; }

.slider-slides--vertical-line .round {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #a1b7d2;
  margin-right: 15px;
  position: relative; }
  .slider-slides--vertical-line .round:before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 0;
    border-radius: 0 0 5px 5px;
    top: -70px;
    left: 1px;
    opacity: 0;
    transition: all .3s ease; }
  .slider-slides--vertical-line .round.primary:before {
    background-color: #0083ff; }
  .slider-slides--vertical-line .round.orange:before {
    background-color: #F89101; }
  .slider-slides--vertical-line .round.red:before {
    background-color: #ff3133; }

.cloud-center {
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.play-with-title {
  display: flex;
  align-items: center; }
  .play-with-title .video-control {
    margin-right: 15px; }

.video-control {
  padding: 15px; }
  .video-control img {
    box-shadow: 10px 0 30px 0 rgba(215, 20, 58, 0.4);
    border-radius: 20px; }

.play-title {
  font-size: 20px; }

.btn-slider-wrap {
  display: inline-block;
  z-index: 99; }

.navigation-bottom {
  padding-bottom: 0px; }

.navigation-left-bottom {
  position: absolute;
  left: 13%;
  bottom: 50px; }

.navigation-center-bottom {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0); }

.navigation-top-right {
  position: absolute;
  right: 3%;
  top: 0; }

.swiper-container.top-navigation {
  padding-top: 70px;
  top: -70px; }

.crumina-module-slider .swiper-container {
  z-index: 5; }

.navigation-center-both-sides .btn-prev, .navigation-center-both-sides .btn-next {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute; }

.navigation-center-both-sides .btn-prev {
  left: 60px; }

.navigation-center-both-sides .btn-next {
  right: 60px; }

.navigation-top-both-sides .btn-prev, .navigation-top-both-sides .btn-next {
  top: 0;
  position: absolute; }

.navigation-top-both-sides .btn-prev {
  left: 10%; }

.navigation-top-both-sides .btn-next {
  right: 10%; }

.btn-prev, .btn-next {
  transition: all .3s ease;
  stroke: inherit;
  opacity: .4;
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 10; }
  .btn-prev:after, .btn-next:after {
    content: '';
    display: block;
    height: 100%;
    width: 15px;
    position: absolute;
    top: 0; }
  .btn-prev .utouch-icon, .btn-next .utouch-icon {
    color: #0083ff;
    fill: #0083ff;
    transition: all .3s ease;
    width: 36px;
    height: 36px; }
  .btn-prev .icon-hover, .btn-next .icon-hover {
    opacity: 0;
    position: absolute; }
  .btn-prev:hover, .btn-next:hover {
    opacity: 1; }
    .btn-prev:hover .icon-hover, .btn-next:hover .icon-hover {
      opacity: 1; }

.btn-prev .icon-hover {
  left: 0; }

.btn-next .icon-hover {
  right: 0; }

.btn-next:hover {
  margin-left: 5px;
  margin-right: -5px; }

.btn-prev:hover {
  margin-left: -5px;
  margin-right: 5px; }

.btn-prev.with-bg, .btn-next.with-bg {
  opacity: .4;
  background-color: #0083ff; }
  .btn-prev.with-bg .utouch-icon, .btn-next.with-bg .utouch-icon {
    fill: #fff; }
  .btn-prev.with-bg.rounded, .btn-next.with-bg.rounded {
    border-radius: 30px; }
  .btn-prev.with-bg.round, .btn-next.with-bg.round {
    width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 100%; }
    .btn-prev.with-bg.round .utouch-icon, .btn-next.with-bg.round .utouch-icon {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute; }
  .btn-prev.with-bg.bg-black, .btn-next.with-bg.bg-black {
    background-color: #121921; }
    .btn-prev.with-bg.bg-black:hover, .btn-next.with-bg.bg-black:hover {
      background-color: #0083ff; }

.btn-prev.with-bg {
  border-radius: 0 30px 30px 0;
  padding: 7px 0 0 15px; }
  .btn-prev.with-bg .icon-hover {
    left: 16px; }
  .btn-prev.with-bg:hover {
    margin-left: 0;
    margin-right: 0;
    padding: 7px 15px 0 15px;
    opacity: 1; }
  .btn-prev.with-bg.rounded:hover {
    padding: 7px 20px 0 15px; }

.btn-next.with-bg {
  border-radius: 30px 0 0 30px;
  padding: 7px 15px 0 0; }
  .btn-next.with-bg .icon-hover {
    right: 16px; }
  .btn-next.with-bg:hover {
    margin-left: 0;
    margin-right: 0;
    padding: 7px 15px 0 15px;
    opacity: 1; }
  .btn-next.with-bg.rounded:hover {
    padding: 7px 15px 0 20px; }

.btn-next:after {
  left: -15px; }

.btn-prev:after {
  right: -15px; }

.btn-prev.btn--style,
.btn-next.btn--style {
  padding: 7px 40px;
  border-radius: 30px;
  background-color: #ecf5fe;
  opacity: 1;
  text-transform: uppercase;
  color: #6987ab;
  font-weight: 700; }
  .btn-prev.btn--style span,
  .btn-next.btn--style span {
    display: inline-block;
    vertical-align: middle; }
  .btn-prev.btn--style .utouch-icon,
  .btn-next.btn--style .utouch-icon {
    fill: #6987ab;
    display: inline-block;
    vertical-align: middle; }
  .btn-prev.btn--style .icon-hover,
  .btn-next.btn--style .icon-hover {
    right: auto;
    left: auto; }
  .btn-prev.btn--style:hover,
  .btn-next.btn--style:hover {
    color: #0083ff;
    background-color: #fff;
    box-shadow: 10px 0 50px rgba(0, 131, 255, 0.15); }
    .btn-prev.btn--style:hover .utouch-icon,
    .btn-next.btn--style:hover .utouch-icon {
      fill: #0083ff; }

.crumina-module-slider {
  position: relative; }

.slider-tabs-vertical-line .swiper-slide {
  padding: 120px 0;
  background-size: contain;
  margin-bottom: 125px; }

.slider-tabs-vertical-line .slider-slides {
  position: absolute;
  bottom: 35px;
  width: 100%;
  margin-bottom: 0;
  text-align: center; }

.slider-tabs-vertical-thumb {
  margin-bottom: -310px; }

.slider-slides--round-text .slides-item {
  display: block;
  margin-right: 0;
  width: auto;
  height: auto;
  line-height: 1.4;
  text-align: left;
  font-weight: 400;
  background-color: transparent;
  border-radius: 0;
  opacity: 1;
  font-size: unset;
  padding-bottom: 30px;
  margin-bottom: 10px; }
  .slider-slides--round-text .slides-item.slide-active .number {
    border-color: #fff;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3); }
  .slider-slides--round-text .slides-item:after {
    content: '';
    display: block;
    width: 4px;
    background-color: #0069cc;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 28px; }

.slider-slides--round-text .number {
  font-size: 30px;
  font-weight: 700;
  float: left;
  margin-right: 35px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 4px solid #0069cc;
  color: #fff;
  text-align: center;
  line-height: 60px; }

.slider-slides--round-text .crumina-heading {
  overflow: hidden;
  margin-bottom: 0; }

.screenshots-item-bottom .swiper-wrapper {
  align-items: flex-end; }

.slider--full-width .swiper-container {
  padding-top: 20px;
  max-width: 1400px; }

.screenshots-slider-style1 .swiper-slide {
  transform: scale(0.5);
  opacity: .5;
  transition: all .3s ease; }
  .screenshots-slider-style1 .swiper-slide .screenshot-item img {
    box-shadow: none; }
  .screenshots-slider-style1 .swiper-slide.swiper-slide-active {
    transform: scale(1);
    opacity: 1; }
    .screenshots-slider-style1 .swiper-slide.swiper-slide-active .screenshot-item img {
      box-shadow: 15px 0 20px rgba(72, 9, 94, 0.4); }
  .screenshots-slider-style1 .swiper-slide.swiper-slide-prev, .screenshots-slider-style1 .swiper-slide.swiper-slide-next {
    transform: scale(0.7);
    opacity: .8; }

.screenshots-slider-style2 .swiper-slide {
  opacity: .5; }
  .screenshots-slider-style2 .swiper-slide .screenshot-item img {
    box-shadow: none; }
  .screenshots-slider-style2 .swiper-slide.swiper-slide-active {
    opacity: 1; }
    .screenshots-slider-style2 .swiper-slide.swiper-slide-active .screenshot-item img {
      box-shadow: 30px 0 30px rgba(0, 0, 0, 0.3); }

.screenshots-slider-style2.navigation-center-both-sides .btn-prev {
  opacity: 1;
  left: 0; }

.screenshots-slider-style2.navigation-center-both-sides .btn-next {
  opacity: 1;
  right: 0; }

.screenshot-item img {
  width: 100%; }

.slider-with-device {
  position: relative;
  padding-bottom: 100px; }
  .slider-with-device .swiper-container {
    background: url("../img/smartphone2.png") 50% 0 no-repeat;
    background-size: contain;
    padding: 80px 0; }
  .slider-with-device .swiper-slide {
    opacity: .5;
    transition: all .3s ease;
    transform: scale(0.7); }
    .slider-with-device .swiper-slide .screenshot-item img {
      box-shadow: none; }
    .slider-with-device .swiper-slide.swiper-slide-active {
      transform: scale(0.9);
      opacity: 1; }
      .slider-with-device .swiper-slide.swiper-slide-active .screenshot-item img {
        box-shadow: 30px 0 30px rgba(0, 0, 0, 0.3); }

.slider--full-width-3items .swiper-slide {
  width: 1140px;
  padding-right: 60px;
  max-width: 100%;
  opacity: .2; }
  .slider--full-width-3items .swiper-slide.swiper-slide-active {
    opacity: 1; }

.slider-3-items .swiper-slide {
  opacity: .9; }
  .slider-3-items .swiper-slide img {
    border-radius: 20px;
    overflow: hidden;
    display: block;
    min-width: 100%; }
  .slider-3-items .swiper-slide.swiper-slide-active {
    opacity: 1; }

/*================= Responsive Mode ============*/
@media (max-width: 1024px) {
  .slider-with-device .swiper-container {
    padding: 40px 0; } }

@media (max-width: 800px) {
  .slider-tabs-vertical-thumb {
    margin-bottom: 0; }
  .navigation-center-both-sides .btn-next {
    right: 5px; }
  .navigation-center-both-sides .btn-prev {
    left: 5px; } }

@media (max-width: 768px) {
  .slides-item {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px; }
  .slider-with-device .swiper-container {
    padding: 60px 0; } }

@media (max-width: 640px) {
  .swiper-container.top-navigation {
    top: auto; }
  .btn-prev.btn--style,
  .btn-next.btn--style {
    display: block;
    margin-bottom: 20px; } }

@media (max-width: 480px) {
  .slider-with-device .swiper-slide {
    padding: 40px; } }

@media (max-width: 460px) {
  .slides-item {
    margin-right: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 16px; }
  .slider-slides--vertical-line .slides-item:first-child {
    margin-left: 0; } }



/*------------- #SUBSCRIBE-FORM --------------*/







/*------------- #ZOOM IMAGE --------------*/


/*=====================================================
                Transition
=======================================================*/
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.fade.in {
  opacity: 1; }

.collapse {
  display: none; }

.collapse.in {
  display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility; }

/*================= Responsive Mode ============*/
@media (max-width: 768px) {
  .accordion-heading .title {
    line-height: 1;
    font-size: 13px; }
  .crumina-accordion .panel-info {
    font-size: 13px; } }





/*================= Responsive Mode ============*/




/*------------- #NAVIGATION --------------*/



